{% extends 'base.html' %}
{% load staticfiles %}
{% load learn_status %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'datatables/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-dialog/bootstrap-dialog.min.css' %}">
{% endblock %}

{% block content %}
    <section class="content-header">
        <h1>
            班级详情
            <small>
                {{ group.name }}

                {% if my_role == 3 %}
                    <a id="btn-change-name" class="btn btn-danger">修改</a>
                {% endif %}
            </small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'index' %}"><i class="fa fa-dashboard"></i> 首页</a>
            </li>
            <li>
                <a href="{% url 'user.groups' %}">班级</a>
            </li>
            <li class="active">详情</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

        <div class="box">
            <div class="box-header">
                {% if my_role %}
                    <!-- 显示群公告 -->
                    <div class="alert alert-warning alert-dismissible" id="group_banner">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h4><i class="icon fa fa-info"></i>班级公告</h4>
                        <div id="banner_content">{{ group.banner|linebreaksbr }}</div>
                    </div>
                    <button class="btn btn-success" id="btn-toggle-member">我是班级成员 - 申请退出</button>
                    {% if my_role > 1 %}
                        <!-- 我是老师，可以设置班级公告 -->
                        <a id="btn-set-banner" class="btn btn-primary">设置班级公告</a>
                        <span>加入班级暗号： <strong style="color: red">{{ group.password }}</strong></span>
                    {% endif %}
                {% else %}
                    <button class="btn btn-warning" id="btn-toggle-member">我不是班级成员 - 申请加入</button>
                {% endif %}

            </div>
            <div class="box-body">
            {% if my_role %}
                <!-- 我是成员 -->
                {% if members %}
                    <table class="table table-responsive" id="members_table">
                        <thead>
                        <tr>
                            <th>用户</th>
                            <th>学号</th>
                            <th>权限</th>
                            {% if my_role > 1 %}
                            <th>累计学习次数</th>
                            <th>一天内学习次数</th>
                            <th>最近学习的单元</th>
                            {% endif %}
                        </tr>
                        </thead>
                        {% for member in members %}
                            <tr>
                                <td class="user-block">
                                    <a href="{% url 'learn.learning' member.user.id %}">
                                        <img src="{{ member.user.avatar_url }}" class="img-circle img-sm" alt="User Image" />
                                         <span class="username">{{ member.user }}</span>
                                    </a>
                                </td>
                                <td>
                                    {{ member.student_id }}
                                    {% if my_role > 1 or member.user_id == request.user.id %}
                                        <a title="修改学号" onclick="change_student_id({{ member.id }}, {{ member.student_id }})">
                                            <span class="fa fa-pencil"></span>
                                        </a>
                                    {% endif %}
                                </td>

                                <td>
                                    {{ member.get_role_display }}
                                    {% if my_role > 1 and member.user.id != request.user.id %}
                                        <a id="btn-kickout" title="踢出去" onclick="kickout({{ member.user.id }})"><span class="fa fa-trash"></span></a>
                                    {% endif %}
                                </td>
                                {% if my_role > 1 %}
                                    <td>
                                        {{ member.user_id | get_total_learn_times }}
                                    </td>
                                    <td>
                                        {{ member.user_id | get_recent_learn_times:1 }}
                                    </td>
                                    <td>
                                        {{ member.user_id | get_latest_unit }}
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}

                    </table>
                {% else %}
                    <p>班级现在没有成员</p>
                {% endif %}
            {% else %}
                <!-- 我不是成员，不能查看成员列表  -->
                班里有哪些人？加入了才能看到。
            {% endif %}
            </div>
        </div>

    {% if my_role %}
        <div class="box">
            <div class="box-header">
                <h3>班级课本</h3>
            </div>
            <div class="box-body">
                <div id="group_books"></div>
            </div>

        </div>

        <div class="box">
            <div class="box-header">
                <h3>正在学习的单元</h3>
            </div>
            <div class="box-body">
                <div id="group_units"></div>
            </div>

        </div>

    {% endif %}

    {% if my_role > 1 %}
        <div class="box box-solid bg-green-gradient">
            <div class="box-header">
                <h3 class="box-title">近期学习记录</h3>
            </div>
            <div class="box-body">
                <div id="recent_records" style="width:100%"></div>
            </div>

        </div>
    {% endif %}
    </section>

    <!-- 确认加入班级 -->
    <div class="modal fade" id="dialog-confirm-join">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">确定加入班级吗？</h4>
                </div>
                <div class="modal-body margin-bottom">
                    <p>
                        点击“确定”按钮，系统会发送一条消息给班级管理员。等管理员批准以后，你就被加入班级了。
                    </p>
                    <form>
                        <div class="form-group">
                            <label class="control-label">学号：</label>
                            <input id="student_id" type="number" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">给管理员留言：</label>
                            <input id="join_message" type="text" class="form-control"/>
                        </div>

                        <label><input id="check_is_teacher" type="checkbox" />我是老师</label>
                    </form>
                    <p id="join_confirm_msg"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="confirm_join">确定</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
    <!-- /.modal-dialog -->

    <!-- 确认退出班级 -->
    <div class="modal fade" id="dialog-confirm-leave">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">确定退出班级吗？</h4>
                </div>
                <div class="modal-body margin-bottom">
                    <p>
                        点击“确定”按钮，系统会发送一条消息给班级管理员。等管理员批准以后，你就退出班级了。
                    </p>
                    <form>
                        <div class="form-group">
                            <label class="control-label">给管理员留言：</label>
                            <input class="form-control" id="leave_message" type="text"/>
                        </div>
                    </form>
                    <p id="leave_confirm_msg"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="confirm_leave">确定</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
    <!-- /.modal-dialog -->

    <!-- 选择单词书 -->
    <div class="modal fade" id="dialog-select-book">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">选择课本</h4>
                </div>
                <div class="modal-body margin-bottom">
                    <div class="form-group">
                        <label class="control-label">单词书</label>
                        <select class="form-control" id="select_wordbook"></select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="confirm_select_book">确定</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
    <!-- /.modal-dialog -->


    <!-- 选择单元 -->
    <div class="modal fade" id="dialog-select-unit">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">选择单元</h4>
                </div>
                <div class="modal-body margin-bottom">
                    <div class="form-group">
                        <label class="control-label">单词书</label>
                        <select class="form-control" id="select_group_book"></select>
                    </div>

                    <div class="form-group">
                        <label class="control-label">单元</label>
                        <select class="form-control" id="select_group_unit"></select>
                    </div>

                    <div class="form-group">
                        <label class="control-label">开始日期</label>
                        <input class="form-control" id="start_date" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="confirm_select_unit">确定</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
    <!-- /.modal-dialog -->



    <!-- 班级公告 -->
    <div class="modal fade" id="dialog-set-banner">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">设置班级公告</h4>
                </div>
                <div class="modal-body margin-bottom">
                    <div class="form-group">
                        <label class="control-label">班级公告</label>
                        <textarea class="form-control" id="group_banner_text">{{ group.banner }}</textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="confirm_set_banner">确定</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
    <!-- /.modal-dialog -->
{% endblock %}

{% block extra_script %}
    <script src="{% static 'datatables/jquery.dataTables.min.js' %}" ></script>
    <script src="{% static 'datatables/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap-dialog/bootstrap-dialog.min.js' %}"></script>
    <script src="{% static 'jquery.toaster/jquery.toaster.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js' %}"></script>

    <script>
    $.fn.multiline = function(text){
        this.text(text);
        this.html(this.html().replace(/\n/g,'<br/>'));
        return this;
    };
    $("#members_table").DataTable({
            "language": {
                url: "{% static 'datatables/Chinese.txt' %}"
            },
            "pageLength": 50
        });
    {% if my_role %}
    function kickout(user_id) {
        $.ajax({
            type: "POST",
            url: "{% url 'user.approve_leave_group' %}",
            beforeSend:function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
            async: true,
            data: {
                "group_id": {{ group.id }},
                "user_id": user_id
            },
            success: function(data) {
                try {
                    if (data.status == "success") {
                        // refresh
                        location.reload();
                    }
                } catch (ex) {
                    console.log(ex);
                }
            }
        });
    }

    function change_student_id(user_group_id, default_student_id) {
        BootstrapDialog.show({
            title: '班级学号',
            message: '<div class="form-group"><label class="control-label">新学号</label><input type="text" class="form-control" value="' + default_student_id + '"></div>',
            buttons: [ {
                label: '确定',
                action: function(dialogRef) {
                    var new_student_id = dialogRef.getModalBody().find('input').val();

                    $.ajax({
                        type: "POST",
                        url: "{% url 'user.ajax_change_student_id' %}",
                        beforeSend:function(xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                        },
                        async: true,
                        data: {
                            "user_group_id": user_group_id,
                            "student_id": new_student_id
                        },
                        success: function(data) {
                            try {
                                if (data.status == "ok") {
                                    location.reload();
                                }
                            } catch (ex) {
                                console.log(ex);
                            }
                        }
                    });
                    dialogRef.close();
                }
            }]
        })
    }
    {% endif %}

    $(function () {
        {% if my_role %}
            var is_member = true;
        {% else %}
            var is_member = false;
        {% endif %}

        {% if not group.banner %}
            $("#group_banner").hide();
        {% endif %}
        $("#btn-toggle-member").click(function() {
            if (!is_member) {
                $("#confirm_join").removeClass("disabled");
                $("#join_confirm_msg").text("");
                $("#dialog-confirm-join").modal("toggle");
            } else {
                $("#confirm_leave").removeClass("disabled");
                $("#leave_confirm_msg").text("");
                $("#dialog-confirm-leave").modal("toggle");
            }
        });

        $("#btn-change-name").click(function() {
            BootstrapDialog.show({
                title: '班级改名',
                message: '<div class="form-group"><label class="control-label">班级的新名称</label><input type="text" class="form-control group-name" value="{{ group.name }}"></div>' +
                        '<div class="form-group"><label class="control-label">班级的新暗号</label><input type="text" class="form-control group-password" value="{{ group.password }}"></div>',
                buttons: [ {
                    label: '确定',
                    action: function(dialogRef) {
                        var name = dialogRef.getModalBody().find('input.group-name').val();
                        var password = dialogRef.getModalBody().find('input.group-password').val();

                        name = $.trim(name);
                        $.ajax({
                            type: "POST",
                            url: "{% url 'user.group_change_name' group.id %}",
                            beforeSend:function(xhr, settings) {
                                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                            },
                            async: true,
                            data: {
                                "name": name,
                                "password": password
                            },
                            success: function(data) {
                                try {
                                    if (data.status == "ok") {
                                        location.reload();
                                    }
                                } catch (ex) {
                                    console.log(ex);
                                }
                            }
                        });
                        dialogRef.close();
                    }
                }]
            })
        });

        $("#confirm_join").click(function() {
            $.ajax({
                type: "POST",
                url: "{% url 'user.join_group' %}",
                beforeSend:function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                async: true,
                data: {
                    "group_id": {{ group.id }},
                    "is_teacher": $("#check_is_teacher").get(0).checked,
                    "message": $("#join_message").val()
                },
                success: function(data) {
                    try {
                        if (data.status == "success") {
                            $.toaster({"priority": "info", "title": "OK", "message": "已经发消息提醒管理员批准。请耐心等待。"});
                            $("#dialog-confirm-join").modal("toggle");
                            $("#confirm_join").addClass("disabled");
                        }
                    } catch (ex) {
                        console.log(ex);
                    }
                }
            });
        });

        $("#confirm_leave").click(function() {
            $.ajax({
                type: "POST",
                url: "{% url 'user.leave_group' %}",
                beforeSend:function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                async: true,
                data: {
                    "group_id": {{ group.id }},
                    "message": $("#leave_message").val()
                },
                success: function(data) {
                    try {
                        if (data.status == "success") {
                            $.toaster({"priority": "info", "title": "OK", "message": "已经发消息提醒管理员批准。请耐心等待。"});
                            $("#dialog-confirm-leave").modal("toggle");
                            $("#confirm_leave").addClass("disabled");
                        }
                    } catch (ex) {
                        console.log(ex);
                    }
                }
            });
        });

    {% if my_role %}
        $("#start_date").datepicker({
            autocolor: true,
            language: "zh-CN"
        });
        // 读取班级学习计划
        function load_group_books() {
            var url = "{% url 'operations.ajax_group_books' group.id %}";
            $.get(url, function(data) {
                if (data.status == "ok") {
                    var books = data.books;
                    $("#select_group_book").html("");
                    if (books.length > 0) {
                        var ul = $("<ul>");
                        for (var i = 0; i < books.length; i++) {
                            var book = books[i];
                            var li = $("<li>")
                                .append($("<a>")
                                    .attr("href", "{% url 'learn.book_detail' 0 %}".replace("0", book.book_id))
                                    .html(book.book__description));
                            {% if my_role > 1 %}
                            li.append($("<a>")
                                    .attr("class", "delete_book")
                                    .attr("book_id", book.book_id)
                                    .attr("title", "删除计划")
                                    .html(' <span class="fa fa-trash"></span>'));
                            {% endif %}
                            ul.append(li);
                            $("#select_group_book").append($("<option>").attr("value", book.book_id).html(book.book__description))
                        }
                        $("#group_books").html("").append(ul);
                    } else {
                        $("#group_books").html("").append($("<p>").html("现在还没有课本"));
                    }
                    {% if my_role > 1 %}
                    // add a button to edit
                    $("#group_books").append($("<a>").attr("id", "btn_add_book").attr("class", "btn btn-primary").html("添加课本"));

                    var book_list = null;

                    $("#btn_add_book").click(function() {
                        if (book_list == null) {
                            var url = "{% url 'learn.ajax_book_list' %}";
                            $.get(url, function(data) {
                                if (data.status == "ok") {
                                    book_list = data.books;
                                    $("#select_wordbook").html("");
                                    for (var i = 0; i < book_list.length; i++) {
                                        var book = book_list[i];
                                        $("#select_wordbook").append($("<option>").attr("value", book.id).html(book.description));
                                    }
                                }
                            });
                        }
                        $("#dialog-select-book").modal();
                    });

                    $(".delete_book").click(function() {
                        var book_id = $(this).attr("book_id");
                        console.log("Going to delete " + book_id);
                        modify_book(book_id, "delete");
                    });
                    {% endif %}
                }
            });
        }

        var group_units = null;
        var last_unit = null;
        // 单元
        function load_group_units() {
            var url = "{% url 'operations.ajax_group_learning_plan' group.id %}";
            $.get(url, function(data) {
                if (data.status == "ok") {
                    var units = data.units;
                    group_units = data.units;
                    if (units.length > 0) {
                        var table = $("<table class='table table-responsive'> <thead> <td>单元</td> <td>开始时间</td> </thead> </table>");
                        var tbody = $("<tbody>");
                        table.append(tbody);
                        for (var i = 0; i < units.length; i++) {
                            var unit = units[i];
                            var td = $("<td>")
                                .append($("<a>")
                                    .attr("href", "{% url 'learn.book_detail' 0 %}".replace("0", unit.unit__book_id))
                                    .html(unit.unit__book__description))
                                .append(" - ")
                                .append($("<a>")
                                    .attr("href", "{% url 'learn.unit_detail' 0 %}".replace("0", unit.unit_id))
                                    .html(unit.unit__description));
                            {% if my_role > 1 %}
                            td.append($("<a>")
                                    .attr("class", "delete_unit")
                                    .attr("unit_id", unit.unit_id)
                                    .attr("title", "删除计划")
                                    .html(' <span class="fa fa-trash"></span>'));
                            {% endif %}
                            tbody.append($("<tr>").append(td).append($("<td>").text(unit.start_date)));
                        }
                        table.DataTable({
                            "language": {
                                url: "{% static 'datatables/Chinese.txt' %}"
                            },
                            "pageLength": 10,
                            "order": [[1, "desc"]]
                        });
                        $("#group_units").html("").append(table);
                    } else {
                        $("#group_units").html("").append($("<p>").html("现在还没有在学习的单元"));
                    }
                    {% if my_role > 1 %}
                    // add a button to edit
                    $("#group_units").append($("<a>").attr("id", "btn_add_unit").attr("class", "btn btn-primary").html("添加或修改单元"));
                    // 选中最后一个单元所对应的书本
                    var next_date = new Date();
                    if (group_units.length > 0) {
                        last_unit = group_units[group_units.length - 1];
                        next_date = new Date(last_unit.start_date);
                        // 下一次学习的日期就是后一天
                        next_date.setDate(next_date.getDate() + 1);
                        $("#select_group_book").val(last_unit.unit__book_id);
                    }
                    $("#start_date").datepicker('update', next_date);
                    $("#btn_add_unit").click(function() {
                        $("#dialog-select-unit").modal();
                        var book_id = $("#select_group_book").val();
                        if (book_id != null) {
                            load_book_units(book_id);
                        }
                    });

                    $(".delete_unit").click(function() {
                        var unit_id = $(this).attr("unit_id");
                        console.log("Going to delete " + unit_id);
                        modify_learning_plan(unit_id, "delete", null);
                    });
                    {% endif %}
                }
            });
        }


        function modify_book(book_id, action) {
            // add it or delete it
            var url = "{% url 'operations.ajax_group_books' 0 %}".replace("0", "{{ group.id }}");
            $.ajax({
                type: "POST",
                url: url,
                beforeSend:function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                async: true,
                data: {
                    "book_id": book_id,
                    "action": action
                },
                success: function(data) {
                    try {
                        if (data.status == "ok") {
                            // reload book list
                            load_group_books();
                        }
                    } catch (ex) {
                        console.log(ex);
                    }
                }
            });
        }

        function modify_learning_plan(unit_id, action, start_date) {
            // add it
            var url = "{% url 'operations.ajax_group_learning_plan' 0 %}".replace("0", "{{ group.id }}");
            $.ajax({
                type: "POST",
                url: url,
                beforeSend:function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                async: true,
                data: {
                    "unit_id": unit_id,
                    "start_date": start_date,
                    "action": action
                },
                success: function(data) {
                    try {
                        if (data.status == "ok") {
                            // reload book list
                            load_group_units();
                        }
                    } catch (ex) {
                        console.log(ex);
                    }
                }
            });
        }

        $("#confirm_select_book").click(function() {
            console.log("Confirm select book");
            var book_id = $("#select_wordbook").val();
            $("#dialog-select-book").modal("toggle");
            modify_book(book_id, "add");
        });

        $("#confirm_select_unit").click(function() {
            console.log("Confirm select unit");
            var unit_id = $("#select_group_unit").val();
            var start_date = $("#start_date").val();
            $("#dialog-select-unit").modal("toggle");
            modify_learning_plan(unit_id, "add", start_date);
        });

        function load_book_units(book_id) {
            var url = "{% url 'learn.ajax_book_units' 0 %}".replace("0", book_id);
            $.get(url, function(data) {
                if (data.status == "ok") {
                    var units = data.units;
                    var selected_val = null;
                    $("#select_group_unit").html("");
                    for (var i = 0; i < units.length; i++) {
                        var unit = units[i];
                        $("#select_group_unit").append($("<option>").attr("value", unit.id).html(unit.description));
                        // 如果碰巧最后一次学到的单元在这个列表中，那么下一次学习的就是下一个单元。
                        if (unit.id == last_unit.unit_id) {
                            if (i+1 < units.length)
                                selected_val = units[i+1].id
                        }
                    }
                    if (selected_val != null) {
                        $("#select_group_unit").val(selected_val);
                    }
                }
            });
        }

        $("#select_group_book").change(function() {
            var book_id = $(this).val();
            load_book_units(book_id);
        });

        $("#btn-set-banner").click(function() {
            $("#dialog-set-banner").modal();
        });

        $("#confirm_set_banner").click(function() {
            $("#dialog-set-banner").modal("toggle");
            var banner = $("#group_banner_text").val();
            var url = "{% url 'user.ajax_set_group_banner' %}";
            $.ajax({
                type: "POST",
                url: url,
                beforeSend:function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                async: true,
                data: {
                    "group_id": {{ group.id }},
                    "banner": banner
                },
                success: function(data) {
                    try {
                        if (data.status == "success") {
                            if (banner) {
                                $("#group_banner").show();
                                $("#banner_content").multiline(banner);
                            } else {
                                $("#group_banner").hide();
                            }
                        }
                    } catch (ex) {
                        console.log(ex);
                    }
                }
            });
        });

        load_group_books();
        load_group_units();

        $("#recent_records").datepicker({"language": "zh-CN"}).on('changeDate', function(a) {
            var date = a.date;
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            var day = date.getDate();
            var url = "{% url 'operations.group_daily_summary' group.id 9999 88 77 %}".replace("9999-88-77", "" + year + "-" + month + "-" + day);
            window.location = url;
        })

    {% endif %}
    });
    </script>
{% endblock %}