{% extends 'base.html' %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            学习概况
            <small>展示最近学习情况</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#"><i class="fa fa-dashboard"></i> 首页</a>
            </li>
            <li class="active">学习概况</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

        <!--------------------------
            | Your Page Content Here |
            -------------------------->
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>56</h3>

                        <p>学习次数</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-flask"></i>
                    </div>
                    <a href="#" class="small-box-footer">详细信息 <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>14</h3>

                        <p>掌握单元</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-cube"></i>
                    </div>
                    <a href="#" class="small-box-footer">详细信息 <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>12</h3>

                        <p>完成测试</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-binoculars"></i>
                    </div>
                    <a href="#" class="small-box-footer">详细信息 <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>69</h3>

                        <p>易错单词</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-bug"></i>
                    </div>
                    <a href="#" class="small-box-footer">详细信息 <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">今日任务</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <ul class="nav nav-stacked">
                            <li>
                                <a href="#"><del>复习 8年级上学期 Unit 9</del></a>
                            </li>
                            <li>
                                <a href="#">学习 8年级上学期 Unit 10</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">近期学习</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>单元</th>
                                <th>学习次数</th>
                                <th>测试正确率</th>
                                <th>操作</th>
                            </tr>
                            <tr>
                                <td>
                                    8年级上学期<br/>
                                    Unit 10
                                </td>
                                <td>
                                    学习0次<br/>
                                    复习0次
                                </td>
                                <td>0%</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default">去学习</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    8年级上学期<br/>
                                    Unit 9
                                </td>
                                <td>
                                    学习1次<br/>
                                    复习0次
                                </td>
                                <td>0</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default">去测试</button>
                                        <button type="button" class="btn btn-default">去复习</button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}
