{% extends 'base.html' %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            学习概况
            <small>展示最近学习情况</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#"><i class="fa fa-dashboard"></i> 首页</a>
            </li>
            <li class="active">学习概况</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

        <!--------------------------
            | Your Page Content Here |
            -------------------------->
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>{{ learn_count }}</h3>

                        <p>学习次数</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-flask"></i>
                    </div>
                    <a href="{% url 'learn.learning' %}" class="small-box-footer">详细信息 <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>{{ mastered_unit_count }}</h3>

                        <p>掌握单元</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-cube"></i>
                    </div>
                    <a href="#" class="small-box-footer">详细信息 <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>{{ quiz_count }}</h3>

                        <p>完成测试</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-binoculars"></i>
                    </div>
                    <a href="{% url 'testings.index' %}" class="small-box-footer">详细信息 <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>{{ erroneous_words }}</h3>

                        <p>易错单词</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-bug"></i>
                    </div>
                    <a href="{% url 'learn.error_word_list' %}" class="small-box-footer">详细信息 <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->

        {% if recent_units %}

        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">近期学习</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>单元</th>
                                    <th>学习次数</th>
                                    <th>操作</th>
                                </tr>
                            </thead>

                            {% for u in recent_units %}
                                <tr>
                                    <td>
                                        <a href="{% url 'learn.book_detail' u.unit__book_id %}">{{ u.unit__book__description }}</a>
                                        -
                                        <a href="{% url 'learn.unit_detail' u.unit_id %}">{{ u.unit__description }}</a>
                                    </td>
                                    <td>{{ u.learn_count }}</td>
                                    <td>
                                        <a class="btn btn-primary" href="{% url 'learn.unit_review' u.unit_id %}">复习</a>
                                        <a class="btn btn-primary" href="{% url 'learn.unit_test' u.unit_id %}">测试</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.row -->
        {% endif %}

    </section>
    <!-- /.content -->
{% endblock %}
