{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <section class="content-header">
        <h1>
            {{ message.title }}
            <small>{{ message.from_user|default:"系统" }}</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'index' %}"><i class="fa fa-dashboard"></i> 首页</a>
            </li>
            <li>
                <a href="{% url 'operations.message_list' %}">消息列表</a>
            </li>
            <li class="active">消息</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        {% if message.message_type == 0 %}
            {{ message.message }}
        {% else %}
            系统消息
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">删除</button>
            <a class="btn btn-primary" href="{% url 'users.contact' message.from_user_id %}">回复</a>
        </form>
    </section>
{% endblock %}
