{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'datatables/dataTables.bootstrap.min.css' %}">
{% endblock %}

{% block content %}
    <section class="content-header">
        <h1>
            消息列表
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'index' %}"><i class="fa fa-dashboard"></i> 首页</a>
            </li>
            <li class="active">消息列表</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        {% if messages %}
        <table class="table table-responsive" id="message_table">
            <thead>
                <td>发信人</td>
                <td>标题</td>
                <td>发信日期</td>
            </thead>
            {% for message in messages %}
                <tr>
                    <td class="user-block">
                        <a href="{% if message.from_user %}{% url 'users.contact' message.from_user.id %}{% else %}#{% endif %}">
                            {% if message.from_user.avatar %}
                                <img src="{{ MEDIA_URL }}{{ message.from_user.avatar }}" class="img-circle img-sm" />
                            {% else %}
                                <img src="{% static 'AdminLTE/img/avatar2.png' %}" class="img-circle img-sm" />
                            {% endif %}
                            <span class="username">{{ message.from_user|default:"系统" }}</span>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'operations.message' message.id %}">
                            {% if message.has_read %}
                                {{ message.title|default:"无标题"|truncatechars:50 }}
                            {% else %}
                                <b>{{ message.title|default:"无标题"|truncatechars:50 }}</b>
                            {% endif %}
                        </a>
                    </td>
                    <td>
                        {{ message.add_time|date:'Y-m-d H:i' }}
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
            <p>没有消息</p>
        {% endif %}

    </section>
{% endblock %}

{% block extra_script %}

    <script src="{% static 'datatables/jquery.dataTables.min.js' %}" ></script>
    <script src="{% static 'datatables/dataTables.bootstrap.min.js' %}"></script>

    <script>
    $(function () {

        $("#message_table").DataTable({
            "language": {
                url: "{% static 'datatables/Chinese.txt' %}"
            },
            "order": [[2, "desc"]]
        });
    });
    </script>
{% endblock %}