{% extends 'base.html' %}

{% block content %}
        <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            单词学习
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'index' %}"><i class="fa fa-dashboard"></i> 首页</a>
            </li>
            <li>
                <a href="{% url 'learn.unit_detail' unit.id %}">单元</a>
            </li>
            <li class="active">单词学习</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
    <div class="box">
        <div class="box-header">
            <h2 id="word-spelling"></h2>
            <div id="pronounciation"></div>
        </div>

        <div class="box-body">
            <div id="answer" class="btn-bar">
                <a class="btn btn-success" id="btn-familiar" title="你也可以按回车键哦">认识</a>
                <a class="btn btn-danger" id="btn-unfamiliar">不熟悉</a>
            </div>

            <div id="word_browser">
                <div id="simple-meaning"></div>
                <a class="btn btn-primary btn-next btn-bar" title="你也可以按回车键哦">继续</a>
                <div id="detailed-meaning"></div>
                <div id="simple-meaning-in-dict"></div>
                <div id="detailed-meaning-in-dict"></div>

                <a class="btn btn-primary btn-next btn-bar btn-bottom" title="你也可以按回车键哦">继续</a>

            </div>

            <div id="result">
                <a class="btn btn-primary" href="{% url 'learn.unit_detail' unit.id %}">返回单元</a>
                <a class="btn btn-primary" href="{% url 'learn.unit_test' unit.id %}">单元测试</a>
                <a class="btn btn-primary btn-bar" id="btn-walkthrough">再来一次</a>
            </div>
        </div>

    </div>
    </section>
{% endblock %}

{% block extra_script %}
    <script>
    $(function() {
        var unit_words = null;
        var current_index = 0;
        var url = "{% url 'learn.ajax_unit_data' unit.id %}";
        var start_seconds = 0;
        var finish_seconds = 0;

        $.get(url, function(result) {
            console.log(result);
            unit_words = result["data"];
            start_walk_through();
        });

        function start_walk_through() {
            current_index = 0;
            // we are not familiar with all of the words
            for (var i = 0; i < unit_words.length; i++) {
                var word = unit_words[i];
                word.familiar = false;
            }
            start_seconds = new Date().getTime()/1000;
            continue_walk_through();
        }

        function continue_walk_through() {
            var candidate = null;
            // find a word which I'm still unfamiliar
            for (var i = 1; i <= unit_words.length; i++) {
                var index = (current_index + i) % unit_words.length;
                var word = unit_words[index];
                if (!word.familiar) {
                    // yes we found the word
                    candidate = word;
                    current_index = index;
                    break;
                }
            }
            if (candidate != null) {
                show_word(candidate);
            } else {
                // we are done!
                show_result();
            }
        }

        function show_result() {
            $("#word_browser").hide();
            $("#answer").hide();
            $("#word-spelling").html("学习完成");
            $("#result").show();

            finish_seconds = new Date().getTime()/1000;
            var seconds_used = Math.floor(finish_seconds - start_seconds);
            var data = {
                "unit_id": {{ unit.id }},
                "type": 1,
                "correct_rate": 100,
                "correct_count": 100,
                "word_count": unit_words.length,
                "seconds_used": seconds_used
            };

            // save learning record
            $.ajax({
                type: "POST",
                url: "{% url 'learn.save_record' %}",
                beforeSend:function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                async: true,
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data) {
                    try {
                        console.log("record saved");
                    } catch (ex) {
                        console.log(ex);
                    }
                }
            });
        }

        function show_word(word) {
            $("#result").hide();
            $("#word_browser").hide();
            $("#answer").show();
            $("#word-spelling").html(word.spelling);
            // show pronounciation
            $("#pronounciation").html("");
            if (word.pronounciation_uk && word.mp3_uk_url) {
                $("#pronounciation").append($("<a>").attr("class", "play_mp3")
                    .html("英<span class=\"ion ion-speakerphone text-blue\"></span> [" + word.pronounciation_uk + "]")
                    .append($("<audio>").append($("<source>").attr("src", word.mp3_uk_url))));
            }
            $("#pronounciation").append("  ");
            if (word.pronounciation_us && word.mp3_us_url) {
                $("#pronounciation").append($("<a>").attr("class", "play_mp3")
                    .html("美<span class=\"ion ion-speakerphone text-blue\"></span> [" + word.pronounciation_us + "]")
                    .append($("<audio>").append($("<source>").attr("src", word.mp3_us_url))));
            }

            $(".play_mp3").click(function() {
                $(this).find("audio").get(0).play();
            });

            $("#word-spelling").click(function() {
                var div = $(".play_mp3").find("audio").get(0);
                if (div != null)
                    div.play();
            });
        }

        function show_word_explain(word) {
            $("#answer").hide();
            $("#word_browser").show();
            // spelling
            $("#word-spelling").text(word.spelling);

            // simple meaning
            $("#simple-meaning").text(word.simple_meaning);
            $("#detailed-meaning").html(word.detailed_meaning);
            //$("#detailed-meaning-in-dict").html(word.detailed_meaning_in_dict);
            show_detailed_meaning_in_dict(word.detailed_meaning_in_dict);
        }

        function show_detailed_meaning_in_dict(detail) {
            var root_div = $("#detailed-meaning-in-dict");
            root_div.html("");
            $(".btn-bottom").hide();
            for (var i = 0; i < detail.symbols.length; i++) {
                var symbol = detail.symbols[i];
                var symbol_div = $("<div>");
                // append pronounciation
                /*
                if (symbol.ph_am || symbol.ph_en) {
                    var pron_list_div = $("<div>").attr("class", "pronounciation_list");
                    pron_list_div.append($("<h3>").html("发音："));
                    if (symbol.ph_am) {
                        var pron_div = $("<div>").attr("class", "pronounciation");
                        pron_div.append($("<a>").attr("class", "play_mp3")
                            .html("美<span class=\"ion ion-speakerphone text-blue\"></span> [" + symbol.ph_am + "]")
                            .append($("<audio>").append($("<source>").attr("src", symbol.ph_am_mp3))));
                        pron_list_div.append(pron_div);
                    }
                    if (symbol.ph_en) {
                        var pron_div = $("<div>").attr("class", "pronounciation");
                        pron_div.append($("<a>").attr("class", "play_mp3")
                            .html("英<span class=\"ion ion-speakerphone text-blue\"></span> [" + symbol.ph_en + "]")
                            .append($("<audio>").append($("<source>").attr("src", symbol.ph_en_mp3))));
                        pron_list_div.append(pron_div);
                    }
                }
                symbol_div.append(pron_list_div);
                */
                // append meaning
                if (symbol.parts.length > 0) {
                    var meaning_div = $("<div>").attr("class", "word_symbol");
                    meaning_div.append($("<h3>").html("解释："));
                    for (var i = 0; i < symbol.parts.length; i++) {
                        var part = symbol.parts[i];
                        var part_div = $("<div>").attr("class", "word_part");
                        part_div.append($("<div>").attr("class", "word_property").html(part.part));
                        var ul_div = $("<ul>");
                        part_div.append(ul_div);
                        for (var j = 0; j < part.means.length; j++) {
                            ul_div.append($("<li>").attr("class", "word_mean").html(part.means[j]));
                        }
                        meaning_div.append(part_div);
                    }
                    symbol_div.append(meaning_div);
                }
                root_div.append(symbol_div);

                $(".btn-bottom").show();
            }
            // append sentenses
            if (detail.sentenses.length > 0) {
                var sentenses_div = $("<div>").attr("class", "word_sentenses");
                sentenses_div.append($("<h3>").html("例句："));
                for (var i = 0; i < detail.sentenses.length; i++) {
                    sentenses_div.append($("<div>").attr("class", "word_sentense").append(
                        $("<div>").attr("class", "word_sent_orig").html(detail.sentenses[i].orig)
                    ).append(
                        $("<div>").attr("class", "word_sent_trans").html(detail.sentenses[i].trans)
                    ));
                }
                root_div.append(sentenses_div);
            }
        }

        function answer_familiar() {
            var word = unit_words[current_index];
            word.familiar = true;
            show_word_explain(word);
        }

        function answer_unfamiliar() {
            var word = unit_words[current_index];
            show_word_explain(word);
        }

        $("#btn-walkthrough").click(start_walk_through);
        $("#btn-familiar").click(answer_familiar);
        $(".btn-next").click(continue_walk_through);
        $("#btn-unfamiliar").click(answer_unfamiliar);

        $(document).keydown(function(event) {
            if ($("#answer").is(":visible")) {
                if ((event.which == 39) || (event.which == 13)) {
                    answer_familiar();
                } else if (event.which == 37) {
                    answer_unfamiliar();
                }
            } else if ($("#word_browser").is(":visible")) {
                if (event.which == 13) {
                    continue_walk_through();
                }
            }
        });
    });
    </script>
{% endblock %}
