{% extends 'base.html' %}
{% load staticfiles %}
{% load learn_status %}

{% block extra_head %}
    <script src="{% static 'bootstrap-dialog/bootstrap-dialog.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'datatables/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-dialog/bootstrap-dialog.min.css' %}">
{% endblock %}


{% block content %}
    {% if request.user.id|is_book_maintainer:unit.book_id %}
        {% define 1 as is_maintainer %}
    {% else %}
        {% define 0 as is_maintainer %}
    {% endif %}

    <section class="content-header">
        <h1>
            单元详情
            <small>
                <a href="{% url 'learn.book_detail' unit.book.id %}">{{ unit.book.description }}</a>

                {{ unit.description }}
            </small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'index' %}"><i class="fa fa-dashboard"></i> 首页</a>
            </li>
            <li>
                <a href="{% url 'learn.books' %}">单词书</a>
            </li>
            <li>
                <a href="{% url 'learn.book_detail' unit.book.id %}">{{ unit.book }}</a>
            </li>
            <li class="active">单元</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">


        <div class="box">
            <div class="box-header">

            {% if request.user.is_authenticated %}
                {% if is_planned %}
                    <a class="btn btn-success" id="btn-toggle-plan">已在学习计划中</a>
                {% else %}
                    <a class="btn btn-warning" id="btn-toggle-plan">不在学习计划中</a>
                {% endif %}
            {% endif %}

                {% if records %}
                    <a class="btn btn-danger" href="{% url 'learn.unit_review' unit.id %}">继续学习</a>
                {% else %}
                    <a class="btn btn-danger" href="{% url 'learn.unit_walkthrough' unit.id %}">开始学习</a>
                {% endif %}

                <a class="btn btn-primary" href="{% url 'learn.unit_test' unit.id %}">拼写测试</a>

                <a class="btn btn-primary" href="{% url 'learn.unit_words_text' unit.id %}" download="{{ unit }}.txt">下载单词表</a>

                {% if is_maintainer %}
                    <a class="btn btn-primary" id="btn-edit-unit">编辑单元</a>
                    <a class="btn btn-primary" id="btn-delete-unit">删除单元</a>


                    <div class="modal fade" id="dialog-edit-unit">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">编辑单元</h4>
                                </div>
                                <div class="modal-body margin-bottom">

                                    <div class="form-group">
                                        <label for="unit_description" class="col-sm-2 control-label">名称</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="unit_description" placeholder="名称" value="{{ unit.description }}">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="unit_order" class="col-sm-2 control-label">在书中的顺序</label>

                                        <div class="col-sm-10">
                                            <input type="number" class="form-control" id="unit_order" placeholder="在书中的顺序" value="{{ unit.order }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                                    <button type="button" class="btn btn-primary" id="confirm_edit_unit">确定</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                    </div>
                    <!-- /.modal-dialog -->


                    <div class="modal fade" id="dialog-new-word">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">增加单词</h4>
                                </div>
                                <div class="modal-body margin-bottom">

                                    <div class="form-group">
                                        <label for="new_word_spelling" class="col-sm-2 control-label">名称</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="new_word_spelling" placeholder="拼写" value="">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="new_word_meaning" class="col-sm-2 control-label">中文解释</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="new_word_meaning" placeholder="中文解释" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                                    <button type="button" class="btn btn-primary" id="confirm_new_word">确定</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                    </div>
                    <!-- /.modal-dialog -->


                    <div class="modal fade" id="dialog-batch-input">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">批量增加单词</h4>
                                </div>
                                <div class="modal-body margin-bottom">

                                    <div class="form-group">
                                        <p>
                                            在下面的输入框中贴入你需要增加的单词。每个单词占用一行。每一行的格式如下：
                                            <pre>This is a sentence.    这是一句话。</pre>
                                            一行中的单词和解释之间用 tab键 或 4个以上空格 隔开。
                                        </p>
                                        <textarea class="form-control"
                                                  id="batch-lines"
                                                  placeholder="word    单词解释"
                                                  rows="8"
                                                  value=""></textarea>
                                    </div>

                                    <div id="batch-uploading">单词上传中，请耐心等待。</div>
                                    <div id="batch-success">批量增加单词成功，除了剩下的这几行。</div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default pull-left" id="btn-close-batch">关闭并刷新</button>
                                    <button type="button" class="btn btn-primary" id="confirm_batch_input">确定</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                    </div>
                    <!-- /.modal-dialog -->

                {% endif %}

            </div>
            <div class="box-body">
                <table class="table table-responsive" id="word_table">
                    <thead>
                    <tr>
                        <th>拼写</th>
                        <th>美式音标</th>
                        <th>英式音标</th>
                        <th>解释</th>
                        <th>id</th>
                    </tr>
                    </thead>
                    {% for word in words %}
                        <tr>
                            <td><a href="{% url 'operations.dictionary' word.word.spelling %}">{{ word.word.spelling }}</a></td>
                            <td>
                                {% if word.word.mp3_us_url %}
                                    <span class="ion ion-speakerphone text-blue" onclick="$('#audio_us_{{ forloop.counter }}').get(0).play()"></span>
                                    <audio id="audio_us_{{ forloop.counter }}" preload="none">
                                        <source src="{{ word.word.mp3_us_url }}" />
                                    </audio>
                                {% endif %}
                                {% if word.word.pronounciation_us %}
                                    [{{ word.word.pronounciation_us }}]
                                {% endif %}
                            </td>
                            <td>
                                {% if word.word.mp3_uk_url %}
                                    <span class="ion ion-speakerphone text-blue" onclick="$('#audio_uk_{{ forloop.counter }}').get(0).play()"></span>
                                    <audio id="audio_uk_{{ forloop.counter }}" preload="none">
                                        <source src="{{ word.word.mp3_uk_url }}" />
                                    </audio>
                                {% endif %}
                                {% if word.word.pronounciation_uk %}
                                    [{{ word.word.pronounciation_uk }}]
                                {% endif %}
                            </td>
                            <td>
                                {% if is_maintainer %}
                                <span class="fa fa-pencil text-blue" onclick="edit_word_meaning({{ word.id }}, '{{ word.word.spelling }}', '{{ word.simple_meaning }}')"></span>
                                {% endif %}
                                {{ word.simple_meaning }}
                            </td>
                            <td>{{ word.id }}</td>
                        </tr>
                    {% endfor %}
                </table>

                {% if is_maintainer %}
                    <div class="btn-bar">
                        <a class="btn btn-primary" id="btn-add-word">增加单词</a>
                        <a class="btn btn-primary" id="btn-delete-words">删除选中的单词</a>
                        <a class="btn btn-primary" id="btn-batch-input">批量添加</a>
                    </div>
                {% endif %}

            </div>
        </div>

    </section>
{% endblock %}

{% block extra_script %}
    {% if request.user.id|is_book_maintainer:unit.book_id %}
        {% define 1 as is_maintainer %}
    {% else %}
        {% define 0 as is_maintainer %}
    {% endif %}
    <script src="{% static 'datatables/jquery.dataTables.min.js' %}" ></script>
    <script src="{% static 'datatables/dataTables.bootstrap.min.js' %}"></script>

    <script>
    function edit_word_meaning(unit_word_id, spelling, simple_meaning) {
        console.log(`Editing word meaning ${unit_word_id}, ${spelling}, ${simple_meaning}`);
        BootstrapDialog.show({
            title: "修改单词解释",
            message: `<div class="form-group"><label class="control-label">${spelling}的解释是：</label><input type="text" class="form-control" value="${simple_meaning}"></div>`,
            buttons: [ {
                label: '确定',
                action: function(dialogRef) {
                    var new_meaning = dialogRef.getModalBody().find('input').val();

                    $.ajax({
                        type: "POST",
                        url: "{% url 'learn.change_word_meaning' %}",
                        beforeSend:function(xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                        },
                        async: true,
                        data: {
                            "unit_word_id": unit_word_id,
                            "simple_meaning": new_meaning
                        },
                        success: function(data) {
                            try {
                                if (data.status == "success") {
                                    location.reload();
                                }
                            } catch (ex) {
                                console.log(ex);
                            }
                        }
                    });
                    dialogRef.close();
                }
            }]
        })
    }
    $(function () {

        BootstrapDialog.DEFAULT_TEXTS['OK'] = '确定';
        BootstrapDialog.DEFAULT_TEXTS['CANCEL'] = '放弃';
        {% if is_planned %}
            var isPlanned = true;
        {% else %}
            var isPlanned = false;
        {% endif %}

        $("#btn-toggle-plan").click(function () {
            var url = "{% url 'learn.ajax_add_learning_plan' %}";
            if (isPlanned)
                url = "{% url 'learn.ajax_del_learning_plan' %}";
            $.ajax({
                type: "POST",
                url: url,
                beforeSend:function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                async: true,
                data: {
                    "unit_id": {{ unit.id }}
                },
                success: function(data) {
                    try {
                        if (data.status == "success") {
                            isPlanned = !isPlanned;
                            if (isPlanned) {
                                $("#btn-toggle-plan").removeClass("btn-warning");
                                $("#btn-toggle-plan").addClass("btn-success");
                                $("#btn-toggle-plan").text("已在学习计划中");
                            } else {
                                $("#btn-toggle-plan").removeClass("btn-success");
                                $("#btn-toggle-plan").addClass("btn-warning");
                                $("#btn-toggle-plan").text("不在学习计划中");
                            }
                        }
                    } catch (ex) {
                        console.log(ex);
                    }
                }
            });
        });
        var word_table = $("#word_table").DataTable({
            "language": {
                url: "{% static 'datatables/Chinese.txt' %}"
            },
            "pageLength": 50
        });
        word_table.column(4).visible(false);

    {% if is_maintainer %}
        $("#btn-edit-unit").click(function() {
            $("#dialog-edit-unit").modal();
        });

        $("#confirm_edit_unit").click(function() {
            var url = "{% url 'learn.ajax_edit_unit' %}";
            $.ajax({
                type: "POST",
                url: url,
                beforeSend:function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                async: true,
                data: {
                    "unit_id": {{ unit.id }},
                    "description": $("#unit_description").val(),
                    "order": $("#unit_order").val()
                },
                success: function(data) {
                    try {
                        if (data.status == "ok") {
                            location.reload();
                        }
                    } catch (ex) {
                        console.log(ex);
                    }
                }
            });
        });

        $("#btn-delete-unit").click(function() {
            var url = "{% url 'learn.ajax_delete_unit' %}";

            BootstrapDialog.confirm({
                title: "小心！",
                message: '真的要删除{{ unit.description }}吗?',
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            type: "POST",
                            url: url,
                            beforeSend:function(xhr, settings) {
                                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                            },
                            async: true,
                            data: {
                                "unit_id": {{ unit.id }}
                            },
                            success: function(data) {
                                try {
                                    if (data.status == "ok") {
                                        window.location = "{% url 'learn.book_detail' unit.book_id %}"
                                    }
                                } catch (ex) {
                                    console.log(ex);
                                }
                            }
                        });
                    }
                }
            });

        });

        $("#btn-add-word").click(function() {
            $("#dialog-new-word").modal();
        });

        $("#confirm_new_word").click(function() {
            var url = "{% url 'learn.ajax_new_word_in_unit' %}";
            $.ajax({
                type: "POST",
                url: url,
                beforeSend:function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                async: true,
                data: {
                    "unit_id": {{ unit.id }},
                    "spelling": $("#new_word_spelling").val(),
                    "meaning": $("#new_word_meaning").val()
                },
                success: function(data) {
                    try {
                        if (data.status == "ok") {
                            location.reload();
                        }
                    } catch (ex) {
                        console.log(ex);
                    }
                }
            });
        });

        $('#word_table tbody').on( 'click', 'tr', function () {
            $(this).toggleClass('selected');
        } );

        $("#btn-delete-words").click(function() {
            var rows = word_table.rows(".selected").data();
            var ids = [];
            for (var i = 0; i < rows.length; i++) {
                var row = rows[i];
                var id = row[4];
                ids.push(id);
            }
            var ids_to_delete = ids.join(",")
            var url = "{% url 'learn.ajax_delete_word_in_unit' %}";
            $.ajax({
                type: "POST",
                url: url,
                beforeSend:function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                async: true,
                data: {
                    "unit_word_ids": ids_to_delete,
                },
                success: function(data) {
                    try {
                        if (data.status == "ok") {
                            location.reload();
                        }
                    } catch (ex) {
                        console.log(ex);
                    }
                }
            });
        });

        $("#btn-batch-input").click(function() {
            $("#batch-lines").val("");
            $("#confirm_batch_input").removeAttr("disabled");
            $("#batch-uploading").hide();
            $("#batch-success").hide();
            $("#dialog-batch-input").modal();
        });

        $("#confirm_batch_input").click(function() {
            var url = "{% url 'learn.ajax_batch_input_unit_words' %}";
            var data = {
                "unit_id": {{ unit.id }},
                "text": $("#batch-lines").val()
            };
            $("#batch-success").hide();
            $("#batch-uploading").show();
            $("#confirm_batch_input").attr("disabled", "disabled");
            $.ajax({
                type: "POST",
                url: url,
                beforeSend:function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                async: true,
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",

                success: function(data) {
                    try {
                        $("#batch-uploading").hide();
                        if (data.status == "ok") {
                            if (data.failed_lines.length == 0) {
                                location.reload();
                            } else {
                                $("#batch-lines").val(data.failed_lines.join("\n"));
                                $("#batch-success").show();
                                $("#confirm_batch_input").removeAttr("disabled");
                            }
                        }
                    } catch (ex) {
                        console.log(ex);
                    }
                }
            });
        });

        $("#btn-close-batch").click(function() {
            location.reload();
        });

    {% endif %}
    });
    </script>
{% endblock %}