{% extends 'base.html' %}
{% block content %}
        <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            用户反馈
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'index' %}"><i class="fa fa-dashboard"></i> 首页</a>
            </li>
            <li class="active">用户反馈</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

    <div>
        感谢你对本网站的宝贵意见。点击 <a href="{% url 'index' %}">这里</a> 返回主页。
    </div>

    </section>
{% endblock %}