{% extends 'base.html' %}
{% load staticfiles %}
{% load learn_status %}

{% block extra_head %}
    <script src="{% static 'bootstrap-dialog/bootstrap-dialog.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap-dialog/bootstrap-dialog.min.css' %}">
{% endblock %}

{% block content %}
    <section class="content-header">
        <h1>
            {{ book.description }}
            <small>
                {% if book.uploaded_by == request.user %}
                    <a class="btn btn-primary" id="btn-edit-book">改名</a>
                {% endif %}
            </small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'index' %}"><i class="fa fa-dashboard"></i> 首页</a>
            </li>
            <li>
                <a href="{% url 'learn.books' %}">单词书</a>
            </li>
            <li class="active">详情</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">单词书信息</h3>
            </div>
            <div class="box-body">
                    本书由 <a href="{% url 'users.contact' book.uploaded_by.id %}">{{ book.uploaded_by }}</a> 上传。
                    单个单词最长学习时间为 {{ book.max_word_learn_time }}秒。
                    单元最长学习时间为 {{ book.max_unit_learn_time }}秒。
                    最多{{ book.max_working_units }}个单元同时学习。

                {% if book.maintainers.count %}
                    本书的维护人包括：
                    <ul>
                    {% for m in book.maintainers.all %}
                        <li>
                            <a href="{% url 'users.contact' m.id %}">{{ m }}</a>
                            {% if book.uploaded_by == request.user %}
                                <a onclick="delete_maintainer({{ book.id }}, {{ m.id }})">
                                    <span class="fa fa-trash"></span>
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% if request.user.id|is_book_maintainer:book.id %}
                    <a class="btn btn-primary" onclick="add_maintainer({{ book.id }})">增加维护人</a>
                {% endif %}

            </div>
        </div>

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">
                    书里的单元
                </h3>
            </div>
            <div class="box-body">
                {% if request.user.id|is_book_maintainer:book.id %}

                    <div class="modal fade" id="dialog-edit-book">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">编辑单词书</h4>
                                </div>
                                <div class="modal-body margin-bottom">

                                    <div class="form-group">
                                        <label for="description" class="col-sm-2 control-label">名称</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="description" placeholder="名称" value="{{ book.description }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                                    <button type="button" class="btn btn-primary" id="confirm_edit_book">确定</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                    </div>
                    <!-- /.modal-dialog -->
                {% endif %}

                <ul class="todo-list">
                    {% for unit in units %}
                        <li>
                            <a href="{% url 'learn.unit_detail' unit.id %}">{{ unit.description }}</a>
                            {% if request.user.id|is_book_maintainer:book.id %}
                                <a title="删除单元" unit_title="{{ unit.description }}" unit_id="{{ unit.id }}" class="pull-right btn-delete-unit">
                                    <span class="fa fa-trash"></span>
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                <div class="btn-bar">
                    <button class="btn btn-primary" id="btn-add-plan">全部加入学习计划</button>
                    {% if request.user.id|is_book_maintainer:book.id %}
                        {% if request.user == book.uploaded_by %}
                            <a class="btn btn-primary" id="btn-delete-book">删除这本书</a>
                        {% endif %}
                        <a class="btn btn-primary" id="btn-add-unit">新建单元</a>
                        <a class="btn btn-primary" id="btn-batch-add">批量新建单元</a>
                    {% endif %}
                </div>
            </div>
        </div>

        {% if request.user.id|is_book_maintainer:book.id %}


            <div class="modal fade" id="dialog-new-unit">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">新建单元</h4>
                        </div>
                        <div class="modal-body margin-bottom">

                            <div class="form-group">
                                <label for="unit_description" class="col-sm-2 control-label">名称</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="unit_description" placeholder="名称" value="某个单元">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" id="confirm_new_unit">确定</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
            </div>
            <!-- /.modal-dialog -->

            <div class="modal fade" id="dialog-batch-input">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">批量新建单元</h4>
                        </div>
                        <div class="modal-body margin-bottom">

                            <div class="form-group">
                                <label for="batch_first_unit_name">批量新建的第一个单元名:</label>
                                <input type="text" id="batch_first_unit_name" class="form-control" value="unit {{ book.wordunit_set.count|add:'1' }}"/>
                            </div>

                            <div class="form-group">
                                <label for="batch_unit_size_limit">每个单元最多几个单词？</label>
                                <input type="number" id="batch_unit_size_limit" class="form-control" value="20"/>
                            </div>

                            <div class="form-group">
                                <p>
                                    在下面的输入框中贴入你需要增加的单词。每个单词占用一行。每一行的格式如下：
                                    <pre>This is a sentence.    这是一句话。</pre>
                                    一行中的单词和解释之间用 tab键 或 4个以上空格 隔开。
                                </p>
                                <textarea class="form-control"
                                          id="batch-lines"
                                          placeholder="word    单词解释"
                                          rows="4"
                                          value=""></textarea>
                            </div>

                            <div id="batch-uploading">单词上传中，请耐心等待。</div>
                            <div id="batch-success">批量增加单词成功，除了剩下的这几行。</div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" id="btn-close-batch">关闭并刷新</button>
                            <button type="button" class="btn btn-primary" id="confirm_batch_input">确定</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
            </div>
            <!-- /.modal-dialog -->

        {% endif %}

    </section>
{% endblock %}

{% block extra_script %}
    <script>
    function delete_maintainer(book_id, user_id) {
        console.log("Deleting maintainer: book_id=", book_id, ", user_id=", user_id);

        var url = "{% url 'learn.ajax_book_delete_maintainer' %}";
        $.ajax({
            type: "POST",
            url: url,
            beforeSend:function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
            async: true,
            data: {
                "book_id": {{ book.id }},
                "user_id": user_id
            },
            success: function(data) {
                try {
                    if (data.status == "ok") {
                        console.log("Good!");
                        location.reload();
                    }
                } catch (ex) {
                    console.log(ex);
                }
            }
        });

    }

    function add_maintainer(book_id) {
        console.log("Adding maintainer for book ", book_id);
        BootstrapDialog.show({
            message: '维护人的邮箱或手机号： <input type="text" class="form-control">',
            title: '添加维护人',
            buttons: [
                {
                    label: '确定',
                    action: function(dialogRef) {

                        var url = "{% url 'learn.ajax_book_add_maintainer' %}";
                        $.ajax({
                            type: "POST",
                            url: url,
                            beforeSend:function(xhr, settings) {
                                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                            },
                            async: true,
                            data: {
                                "book_id": {{ book.id }},
                                "user_name": dialogRef.getModalBody().find("input").val()
                            },
                            success: function(data) {
                                try {
                                    if (data.status == "ok") {
                                        console.log("Good!");
                                        location.reload();
                                    }
                                } catch (ex) {
                                    console.log(ex);
                                }
                            }
                        });

                        dialogRef.close();
                    }
                }
            ]
        })
    }

    $(function() {
        $("#btn-add-plan").click(function(){
            var url = "{% url 'learn.ajax_add_book_learning_plan' %}";
            $.ajax({
                type: "POST",
                url: url,
                beforeSend:function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                async: true,
                data: {
                    "book_id": {{ book.id }}
                },
                success: function(data) {
                    try {
                        if (data.status == "success") {
                            $("#btn-add-plan").addClass("disabled");
                            $("#btn-add-plan").text("已经加入学习计划");
                        }
                    } catch (ex) {
                        console.log(ex);
                    }
                }
            });
        });

    {% if request.user.id|is_book_maintainer:book.id %}
        $("#btn-edit-book").click(function() {
            $("#dialog-edit-book").modal();
        });

        $("#confirm_edit_book").click(function() {
            var url = "{% url 'learn.ajax_edit_book' %}";
            $.ajax({
                type: "POST",
                url: url,
                beforeSend:function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                async: true,
                data: {
                    "book_id": {{ book.id }},
                    "description": $("#description").val()
                },
                success: function(data) {
                    try {
                        if (data.status == "ok") {
                            location.reload();
                        }
                    } catch (ex) {
                        console.log(ex);
                    }
                }
            });
        });

        $("#btn-delete-book").click(function() {

            BootstrapDialog.DEFAULT_TEXTS['OK'] = '确定';
            BootstrapDialog.DEFAULT_TEXTS['CANCEL'] = '放弃';
            BootstrapDialog.confirm({
                title: "小心！",
                message: '真的要删除{{ book.description }}吗?',
                callback: function(yes) {
                    if (yes) {
                        var url = "{% url 'learn.ajax_delete_book' %}";
                        $.ajax({
                            type: "POST",
                            url: url,
                            beforeSend:function(xhr, settings) {
                                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                            },
                            async: true,
                            data: {
                                "book_id": {{ book.id }}
                            },
                            success: function(data) {
                                try {
                                    if (data.status == "ok") {
                                        window.location = "{% url 'learn.books' %}";
                                    }
                                } catch (ex) {
                                    console.log(ex);
                                }
                            }
                        });
                    }
                }
            });

        });

        $("#btn-add-unit").click(function() {
            $("#dialog-new-unit").modal();
        });

        $("#confirm_new_unit").click(function() {
            var url = "{% url 'learn.ajax_new_unit' %}";
            $.ajax({
                type: "POST",
                url: url,
                beforeSend:function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                async: true,
                data: {
                    "book_id": {{ book.id }},
                    "description": $("#unit_description").val(),
                },
                success: function(data) {
                    try {
                        if (data.status == "ok") {
                            window.location = "{% url 'learn.unit_detail' 0 %}".replace("0", data.unit_id);
                        }
                    } catch (ex) {
                        console.log(ex);
                    }
                }
            });
        });

        $("#btn-batch-add").click(function() {
            $("#batch-lines").val("");
            $("#confirm_batch_input").removeAttr("disabled");
            $("#batch-uploading").hide();
            $("#batch-success").hide();
            $("#dialog-batch-input").modal();
        });

        $("#confirm_batch_input").click(function() {
            var url = "{% url 'learn.ajax_batch_new_unit' %}";
            var data = {
                "book_id": {{ book.id }},
                "first_unit_name": $("#batch_first_unit_name").val(),
                "unit_size_limit": $("#batch_unit_size_limit").val(),
                "text": $("#batch-lines").val()
            };
            $("#batch-success").hide();
            $("#batch-uploading").show();
            $("#confirm_batch_input").attr("disabled", "disabled");
            $.ajax({
                type: "POST",
                url: url,
                beforeSend:function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                async: true,
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",

                success: function(data) {
                    try {
                        $("#batch-uploading").hide();
                        if (data.status == "ok") {
                            if (data.failed_lines.length == 0) {
                                location.reload();
                            } else {
                                $("#batch-lines").val(data.failed_lines.join("\n"));
                                $("#batch-success").show();
                                $("#confirm_batch_input").removeAttr("disabled");
                            }
                        }
                    } catch (ex) {
                        console.log(ex);
                    }
                }
            });
        });

        $("#btn-close-batch").click(function() {
            location.reload();
        });

        $(".btn-delete-unit").click(function() {
            var unit_title = $(this).attr("unit_title");
            var unit_id = $(this).attr("unit_id");

            BootstrapDialog.DEFAULT_TEXTS['OK'] = '确定';
            BootstrapDialog.DEFAULT_TEXTS['CANCEL'] = '放弃';
            BootstrapDialog.confirm({
                    title: "小心！",
                    message: '真的要删除'+ unit_title + '吗?',
                    callback: function (result) {
                        if (result) {
                            var url = "{% url 'learn.ajax_delete_unit' %}";
                            $.ajax({
                                type: "POST",
                                url: url,
                                beforeSend:function(xhr, settings) {
                                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                                },
                                async: true,
                                data: {
                                    "unit_id": unit_id
                                },
                                success: function(data) {
                                    try {
                                        if (data.status == "ok") {
                                            location.reload();
                                        }
                                    } catch (ex) {
                                        console.log(ex);
                                    }
                                }
                            });
                        }
                    }
                }
            );

        });

    {% endif %}
    });
    </script>
{% endblock %}
